
@{
    ViewBag.Title = "GetFAMaintRepairByCode";
}

<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>


</section>

<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <p>
                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                    </p>
                </div>





                <div class="bs-example" id="ListContainer">


                    <div class="panel panel-default panel-table" id="maindiv">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 id="tile1">&nbsp;&nbsp; Maintenance/Repairs Report By Code</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>

                        </div>




                        <div class="panel-body" id="FormDiv">

                            <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                            </div>

                            <div class="form">



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="userId">FaCode:</label>
                                            @Html.Editor("FaCode", new { htmlAttributes = new { @class = "form-control ", @required = "required" } })

                                        </div>
                                    </div>

                                    @*<div class="form-group">
                            <label for="userId"> F.A. Code:</label>
                            @Html.DropDownList("BranchCode", new SelectList(ViewBag.BranchCode, "BranchCode", "BranchName"), "-----select Branch-----", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>*@
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="userId">Retport Type:</label>
                                            @Html.Editor("retportType", new { htmlAttributes = new { @class = "form-control ", @required = "required" } })

                                        </div>
                                    </div>





                                </div>


                                <div class="modal-footer">

                                    <br />
                                    <div class="action">
                                        <button type="submit" id="addbutton" onclick="return FetchFAMainRepairByCode();" class="btn btn-primary btn-lg">
                                            Submit
                                        </button>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="panel-body" id="TableDivCSS">
                            <div class="panel-heading">
                                <div class="row">

                                    <div class="col col-xs-6 text-left">
                                        <div>
                                            <h3 id="tile1">&nbsp;&nbsp;</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                            <div style="width: 120%; " id="TableDiv">


                                <table id="importTable1" class="display" style="width:100%;">

                                    <thead>
                                        <tr>

                                            <th> S/N</th>
                                            <th>FACode </th>
                                            <th>FAName</th>


                                            <th>PurchaseDate</th>
                                            <th>ExpiryDate</th>
                                            <th>TranDate</th>


                                            <th>Tranamount</th>
                                            <th>ExpMthod</th>
                                            <th> LifeSpan</th>
                                            <th>LifeSpanUsed</th>


                                            <th>MaintType</th>
                                            <th>Narration</th>


                                        </tr>

                                    </thead>
                                    <tbody></tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>





@section scripts{
    <link href="~/Content/consula/DataTables/DataTables-1.10.24/css/datatablebuttons.css" rel="stylesheet" />
    <link href="~/Content/consula/DataTables/DataTables-1.10.24/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/consula/DataTables/DataTables-1.10.24/css/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/DataTableStyle/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/consula/consula/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/consula/DataTables/DataTables-1.10.24/js/jquery.dataTables.js"></script>
    @*<script src="~/Content/datatablecript/buttons_flash_min.js"></script>*@
    <script src="~/Content/datatablecript/buttons_html5_min.js"></script>
    <script src="~/Content/datatablecript/buttons_print_min.js"></script>
    <script src="~/Content/datatablecript/dataTables_buttons_min.js"></script>
    <script src="~/Content/datatablecript/pdfmake_min.js"></script>
    <script src="~/Content/datatablecript/vfs_fonts.js"></script>
    <script src="~/Content/datatablecript/jszip_min.js"></script>

    <script>
    function FetchFAMainRepairByCode() {
        var FaCode = $('#FaCode').val();
        var retportType = $('#retportType').val();


        if (FaCode == '' || FaCode == null) {

        alert('Please select branch');

        return false;

        }

        if (retportType == '' || retportType == null) {

        alert('Input asset code');

        return false;

        }


        var mytable = $('#importTable1').DataTable();

        mytable.clear();
        mytable.destroy();
        var url = '@Url.Action("GetFAMaintRepairByCodeReport")';
        //var data={
        //    btn: btn
        //};
        $.ajax({
            url: url,
            type: "GET",
            data: { FaCode: FaCode, retportType: retportType },
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (Data) {

                var total_Tranamount = 0;


                if (Data != null) {
                    var tr;
                    $('#importTable1 tbody').empty();

                    var i = 0;
                    $.each(Data, function (index, trans) {
                        tr = $('<tr/>');
                        tr.append('<td>' + trans.Id + '</td>');
                        tr.append('<td>' + trans.FACode + '</td>');
                        tr.append('<td>' + trans.FAName + '</td>');


                        //Dates
                        tr.append('<td>' + Formatdate(trans.PurchaseDate) + '</td>');
                        tr.append('<td>' + Formatdate(trans.ExpiryDate) + '</td>');
                        tr.append('<td>' + Formatdate(trans.TranDate) + '</td>');


                        // Values/cost
                        tr.append('<td>' + addCommas(trans.Tranamount) + '</td>');
                        tr.append('<td>' + trans.ExpMthod + '</td>');

                        tr.append('<td>' + trans.LifeSpan + '</td>');
                        tr.append('<td>' + trans.LifeSpanUsed + '</td>');

                        //statues
                        tr.append('<td>' + trans.MaintType + '</td>');
                        tr.append('<td>' + trans.Narration + '</td>');


                        $('table').append(tr);





                        if (trans.Tranamount == null || trans.Tranamount == '' || isNaN(trans.Tranamount)) {

                            total_Tranamount = parseFloat(total_Tranamount) + 0;
                        }
                        else {
                            total_Tranamount = parseFloat(total_Tranamount) + parseFloat(trans.Tranamount);

                        }






                    });

                    tr = $('<tr style="background-color: #0000FF; color: #FFFFFF; font-size:14px; font-weight: bolder"/>');
                    tr.append('<td> TOTAL </td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td>' + addCommas(total_Tranamount.toFixed(2)) + '</td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');
                    tr.append('<td></td>');




                    $('#importTable1').append(tr);





                    $('#processingmesage').hide();

                    //$('#importTable1').append('<caption style="color: #FFFFFF; background-color: #31708f; font-weight: bold; padding-left: 50px; "> LOAN DISBURSE REPORT FROM ' + startdate + ' TO ' + enddate + '</caption > ');



                    $('#importTable1').DataTable({




                        "orderMulti": false,
                        "ordering": false,




                        dom: 'Blfrtip',
                        /* "scrollX": true,*/




                        buttons: [

                            'copy', 'csv', 'excel', 'pdf', 'print'

                        ],


                        "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "All"]],
                        retrieve: true,
                    });


                    //$(document).ready(function () {
                    //    //var table = $('#importTable1').DataTable();


                    //});
                 /*   $("#ListContainer").show();*/
                } else {
                    alert("No record found");
                }

            },
            error: function (data) {
                alert("failed");
            }
        });

    }



    function addCommas(nStr) {

        var ispositive = 1;
        try {
            if (nStr >= 0) {
                ispositive = 1;
            }
            else {
                ispositive = 0;
            }
            nStr += '';

            x = nStr.split('.');

            x1 = x[0];

            x2 = x.length > 1 ? '.' + x[1] : '';

            var rgx = /(\d+)(\d{3})/;

            while (rgx.test(x1)) {

                x1 = x1.replace(rgx, '$1' + ',' + '$2');

            }

            if (ispositive == 1) {
                return x1 + x2;
            }
            else {
                return '(' + (x1 + x2).replace('-', '') + ')';
            }

        }
        catch (err) {
            return ''
        }

    }

    function Formatdate(Jsondate) {

        if (Jsondate == null || Jsondate == '') {

            return Jsondate;

        }

        else {

            try {
                var mydate = new Date(eval('new' + Jsondate.replace(/\//g, ' ')));

                var month = mydate.getMonth() + 1;

                var day = mydate.getDate();

                var year = mydate.getFullYear();

                var date = day + "/" + month + "/" + year;

                if (date == '1/1/1') {
                    return '';
                }
                else {
                    return date;
                }

            }
            catch (err) {
                return ''
            }

        }



    }
    </script>
}






