
@{
    ViewBag.Title = "Index";
}


<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>

@*<section id="boxes" class="home-section paddingtop-80">*@

<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">



            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;REPORTS</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;</h3>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default panel-table" id="maindiv">





                    <div class="panel-body" id="FormDiv">

                        <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                        </div>



                    </div>


                    <div class="panel-body" id="TableDivCSS">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col col-xs-6 text-left">
                                    <div>
                                        <h2 id="tile1">&nbsp;&nbsp;List of Asset</h2>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div style="width: 100%; " id="TableDiv">


                            <table id="importTable1" class="display" style="width:100%;">

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="FirstColumn"> Asset Code</th>
                                        <th id="1">Asset Name</th>
                                        <th id="2">Asset Location</th>
                                        <th id="3">Asset Value</th>
                                        <th id="3">Asset Age</th>
                                        <th id="4">Asset Repair Date</th>
                                        <th id="5">purchase Date</th>
                                        <th id="6">Trans. Date</th>
                                        <th id="7">Allocated Date</th>
                                        <th id="8">Ancillary Cost</th>
                                        <th id="9">Recurring Cost</th>
                                        <th id="10">Amount</th>
                                        <th id="11">Depreciation Rate</th>
                                        <th id="12">Accumulated Deprec.</th>
                                  
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:80% !important">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="exampleModalLabel">New message</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12" id="IndivApp">
                            <div class="card" id="assetDetails">
                                <h5 class="card-header" style="background-color:blue;color:white">Ancillary Cost</h5>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6" style="color:black; font-size:medium;">COST ELEMENTS:</div>  <div class="col-md-6" style="color:black; font-size:medium;">AMOUNT</div>
                                        <br />
                                        <hr />
                                        @*<div class="col-md-6" style="background-color:antiquewhite"><label class="" id="CustomerName" style="color:blue;"><input class="form-control AmountApprove2" id="txtcostElement" /></label></div>*@

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Transport Cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="lblBusName" style="color:blue;"><input class="form-control AmountApprove2" id="txtTransElement" /> </label></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Installation Cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="YearOfInc" style="color:blue;"><input class="form-control AmountApprove2" id="txtInstallCost" /> </label></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Transit Insurance cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="YearOfInc" style="color:blue;"><input class="form-control AmountApprove2" id="txtInstallCost" /> </label></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Tabs.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <
    <script>
        $(function () {
            $('#btnAncillaryCost').click(function () {
                $(this).attr("data-toggle", "modal").attr("data-target", "#exampleModal");
            });

        });

    </script>
}


